{% extends 'mainapp/base.html' %}

{% block title %}
Онлайн заметки. Пользовательские заметки
{% endblock %}

{% block body %}
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #000;
        background-color: #f8f8f8;
    }

    * {
        box-sizing: border-box;
    }

    .form {
        max-width: 320px;
        padding: 15px;
        margin: 20px auto;
        background-color: #fff;
    }

    .input {
        display: block;
        width: 100%;
        padding: 8px 10px;
        margin-bottom: 10px;

        border: 1px solid #ccc;

        font-family: inherit;
        font-size: 16px;
    }

    .btn {
        display: block;
        width: 100%;
        padding: 8px 10px;

        border: 0;
        background-color: #1cbc11;
        cursor: pointer;

        font-family: inherit;
        font-size: 16px;
        color: #fff;
    }

    .btn:hover {
        background-color: #14a20a;
    }
</style>

<a href="{% url 'logout' %}" style="position: absolute; right: 100px; top: 50px; text-decoration: none">
    <button class="btn">Выход</button>
</a>

<a href="{% url 'add_notes' %}" style="position: absolute; left: 100px; top: 50px; text-decoration: none">
    <button class="btn">Добавить заметку</button>
</a>

<h1 class="container text-center" style="margin-top: 100px"> Заметки: </h1>
<div>
    {% for elem in notes %}
    <div class="container text-center" style="margin-top: 10px">
        <p class="my-note">{{ elem.text }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}